name: Test Project
on: workflow_dispatch
jobs:
  test1:
    runs-on: ubuntu-latest
    steps:
      - name: Get code
        uses: actions/checkout@v3
      - name: Install NodeJS
        uses: actions/setup-node@v3
        with:
          node-version: 18
      - name: Install dependenices
        run: npm ci
      - name: Run tests
        run: npm test
  test2:
    needs: test1
    runs-on: ubuntu-latest
    steps:
      - name: Get code
        uses: actions/checkout@v3
      - name: Install NodeJS
        uses: actions/setup-node@v3
        with:
          node-version: 18
      - name: Install dependenices
        run: npm ci
      - name: Run tests
        run: npm test
